@page "/"

<h1>Toolbelt.Blazor.HttpClientInterceptor - Demonstration</h1>

<ol>
    <li>Please enter Ctrl + Shift + I to open the browser's developer tools.</li>
    <li>Open console pane of the developer tools.</li>
    <li>Visit <NavLink href="/fetchdata">"Fetc data"</NavLink> page.</li>
</ol>

<p>After that, you can see the console messages that have been fired from the HttpClientInterceptor's events.</p>

<SurveyPrompt Title="How is Blazor working for you?" />
